
.typeList {
    background-color: #ddddff;
}

.typeList ul {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    left: -100px;
    top: 0px;
    width: 100px;
    height: 200px;
    overflow-y: auto;
}

.typeList ul li {
    background-color: #eeeeff;
}

.typeList ul li:hover {
    background-color: #ddddff;
    cursor: pointer;
}



.typeList:hover > ul {
    display: block;
}