
#dragonfly {
    position: fixed;
    display: block;
    height: 90px;
    width: 300px;
}

#left, #center, #right {
    display: inline-block;
    position: relative;
    width: 100px;
    height: auto;
    background-color: lightcyan;
    overflow-x: auto;
}

#left {
    left:0;
}
#center {
    left:0;
}
#right {
    left:0;
    /** Using top the whole column shifts down*/
}
