
#dragonfly {
    position: fixed;
    display: block;
    height: 90px;
    width: 300px;
}

#left, #center, #right {
    display: block;
    float: left;
    position: relative;
    width: 100px;
    height: auto;
    background-color: lightcyan;
}

#left, #right{
    position: relative;
    max-height: 400px;
}

#left ul, #right ul{
    padding: 0;
}

#left ul li, #right ul li {
    list-style: none;
    padding: 2px;
}

#left {
    left:0;
}
#center {
    left:0;
}
#right {
    left:0;
    /** Using top the whole column shifts down*/
}
